<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  
  	<servlet-name>bookServlet</servlet-name>
  	<servlet-class>org.java.servlet.BookManageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>bookServlet</servlet-name>
  	<url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  
  	<servlet-name>addServlet</servlet-name>
  	<servlet-class>org.java.servlet.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addServlet</servlet-name>
  	<url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  
  	<servlet-name>deleteServlet</servlet-name>
  	<servlet-class>org.java.servlet.DeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>deleteServlet</servlet-name>
  	<url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>